extends template 

block content 

    form(action="", method="post" enctype="multipart/form-data") 
        input(placeholder="Fuldt navn" type="text", name="fullname")
        input(placeholder="Email" type="text", name="email")
        input(placeholder="Alder" type="text", name="age")
        button Send
    